{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'><link rel="stylesheet" href="{% static 'travel/style.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

  {% comment %} Japan{% endcomment %}
  <div class="w-100 border h-25 object-fit-contain">
  <center class='w-100 border' >
    <div class='w-50 '>
  <div class="row p-3 country-description" id='japan' >
    <main class="intro-section">
        <div class="container">
          <div class="grid">
            <div class="column-xs-12">
              <ul class="slider">
                <li class="slider-item active">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore Tokyo</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://source.unsplash.com/cddaZDt6uRw">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Tokyo</span></h1>
                            </a>
                          </div>
                          <p class="description">Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="slider-item">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore Kyoto</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://source.unsplash.com/Pz3EHf-KJfc">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Kyoto</span></h1>
                            </a>
                          </div>
                          <p class="description">Kyoto is famous for its numerous classical Buddhist temples, gardens, imperial palaces, Shinto shrines and traditional wooden houses.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="slider-item">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                           <h1 class="title"><span class="underline">Explore Osaka</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://source.unsplash.com/peYW3VwICpE">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Osaka</span></h1>
                            </a>
                          </div>
                          <p class="description">Osaka is a large port city and commercial center known for its modern architecture, nightlife and hearty street food.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="slider-item">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore Hokkaido</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://source.unsplash.com/VmeOZQjTVGE">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Hokkaido</span></h1>
                            </a>
                          </div>
                          <p class="description">Hokkaido, the northernmost of Japan’s main islands, is known for its volcanoes, natural hot springs ("onsen") and ski areas.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <div class="grid">
              <div class="column-xs-12">
                <div class="controls">
                    <button class="previous">
                      <span class="visually-hidden">Previous</span>
                      <span class="icon arrow-left" aria-hidden="true"></span>
                    </a>
                    <button class="next">
                      <span class="visually-hidden">Next</span>
                      <span class="icon arrow-right" aria-hidden="true"></span>
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </main>
      <script  src="{% static 'travel/script.js' %}"></script>
  </div>
  {% comment %} United Kingdom{% endcomment %}
  <div class="row p-3 country-description d-none" id='ireland' >
    <main class="intro-section">
        <div class="container">
          <div class="grid">
            <div class="column-xs-12">
              <ul class="slider">
                <li class="slider-item active">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore Dublin</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://images.unsplash.com/photo-1549918864-48ac978761a4?w=1800&auto=format&fit=crop&q=60&ixlib=rb-4">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Wales</span></h1>
                            </a>
                          </div>
                          <p class="description">Dublin, Ireland's vibrant capital, harmonizes contemporary urban life with rich historical heritage, from modern architecture to ancient landmarks</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </main>
      <script  src="{% static 'travel/script.js' %}"></script>
  </div>
  <div class="row p-3 country-description d-none" id="united kingdom">
    <main class="intro-section">
        <div class="container">
          <div class="grid">
            <div class="column-xs-12">
              <ul class="slider">
                <li class="slider-item active">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore London</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://plus.unsplash.com/premium_photo-16808064180143-97e569c14662?w=1800&auto=format&fit=crop&q=60&i">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore London</span></h1>
                            </a>
                          </div>
                          <p class="description">London, the vibrant capital of the United Kingdom, harmonizes rich history with modern cosmopolitan life, boasting iconic landmarks like the Tower of London and Buckingham Palace alongside a bustling contemporary art scene and diverse culinary offerings.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
          </div>
        </div>
      </main>
      <script  src="{% static 'travel/script.js' %}"></script>
  </div>
  <div class="row p-3 country-description d-none" id="united states">
    <main class="intro-section">
        <div class="container">
          <div class="grid">
            <div class="column-xs-12">
              <ul class="slider">
                <li class="slider-item active">
                  <div class="grid vertical">
                    <div class="column-xs-12 column-md-2 hide-mobile">
                      <div class="intro">
                        <a href="#">
                          <h1 class="title"><span class="underline">Explore Washington D.C.</span></h1>
                        </a>
                      </div>
                    </div>
                    <div class="column-xs-12 column-md-10">
                      <div class="image-holder">
                        <img  style="transform: rotate(180deg);" class='destination-image' src="https://images.unsplash.com/photo-1617581629397-a72507c3de9e?w=1800&auto=format&fit=crop&q=60&ixlib=r">
                      </div>
                      <div class="grid">
                        <div class="column-xs-12 column-md-9">
                          <div class="intro show-mobile">
                            <a href="#">
                              <h1 class="title"><span class="underline">Explore Washington D.C.</span></h1>
                            </a>
                          </div>
                          <p class="description">Washington D.C., the dynamic capital of the United States, blends modern sophistication with a profound sense of history, from iconic monuments to bustling city life.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            <div class="grid">
              <div class="column-xs-12">
      
                </div>
            </div>
          </div>
        </div>
        
      </main>
      <script  src="{% static 'travel/script.js' %}"></script>
  </div>
</div>
</center>
</div>
  <div class="row p-5">
    {% comment %} <select id="destinationSelect"  class="form-select" aria-label="Default select example"> {% endcomment %}
    {% for destination in destinations %}
      {% comment %} <option value="{{ destination.name }}">{{destination.name}}</option> {% endcomment %}
      <div class="form-check">
        <input id='radio{{ destination.name }}' value="{{ destination.name }}" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          {{destination.name}}
        </label>
      </div>
  {% endfor %}
    {% comment %} </select> {% endcomment %}
      
    </div>
    
  </div>
  <center class=' w-full pb-5'>
    <button type="button" class="btn btn-primary w-25 " id='see-packages-btn' onclick="alertEstimate()">See Cost Estimate</button>
  </center>
  <script>
    // JavaScript
    function alertEstimate(){
      if('{{cost_estimates}}' == '0'){
        alert('Please continue from beginning')
        window.location.href = '{% url "home" %}';
      }
      else{
      var selectedCountry = document.getElementById('destinationSelect').value;
      var costs = JSON.parse("{{cost_estimates|escapejs}}")
      alert("Cost for " + selectedCountry + " is: $" + costs[selectedCountry]) }
    }

    document.addEventListener("DOMContentLoaded", function () {
      const selectElement = document.getElementById('destinationSelect');
      const countryDescriptions = document.querySelectorAll('.country-description');
  
      selectElement.addEventListener('change', function () {
        const selectedCountry = this.value;
        
        // Hide all descriptions
        countryDescriptions.forEach(function (description) {
          description.classList.add('d-none');
        });
  
        // Show description of selected country
        document.getElementById(selectedCountry.toLowerCase()).classList.remove('d-none');
      });
    });
</script>
{% endblock content %}