{% load static %}


<!-- partial:index.partial.html -->
  <div class="game-section owl-carousel custom-carousel owl-theme">
    <div class="item active" style="background-image: url(https://images.unsplash.com/photo-1545569341-9eb8b30979d9?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8SmFwYW58ZW58MHx8MHx8fDA%3D);">
      <div class="item-desc">
        <h3>Japan</h3>
        <p>Japan, a captivating blend of tradition and modernity, boasts vibrant cities and serene landscapes. From the bustling streets of Tokyo to the tranquil beauty of Kyoto, Japan offers an unforgettable fusion of ancient heritage and cutting-edge innovation.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(https://images.unsplash.com/photo-1541367962146-7c0a62584f15?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjN8fElyZWxhbmR8ZW58MHwwfDB8fHww);">
      <div class="item-desc">
        <h3>Ireland</h3>
        <p>Ireland, a land of enchanting landscapes and rich history, beckons with its rolling green hills and rugged coastline. Experience the warmth of its people and the charm of its quaint villages, making every moment a journey into the heart of Celtic culture.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(https://plus.unsplash.com/premium_photo-1672055504612-2ab38b1f4552?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dW5pdGVkJTIwa2luZ2RvbXxlbnwwfDB8MHx8fDA%3D);">
      <div class="item-desc">
        <h3>United Kingdom</h3>
        <p>
          The United Kingdom, a captivating blend of tradition and modernity, invites exploration with its iconic landmarks and vibrant cultural scene. From the historic streets of London to the breathtaking landscapes of Scotland, immerse yourself in the diverse tapestry of this island nation.</p>
      </div>
    </div>
    <div class="item" style="background-image: url(https://images.unsplash.com/photo-1534364606269-b7982b908079?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHVuaXRlZCUyMHN0YXRlc3xlbnwwfDB8MHx8fDA%3D);">
      <div class="item-desc">
        <h3>United States</h3>
        <p>The United States, a vast and diverse country, beckons with its iconic landmarks, vibrant cities, and stunning natural landscapes. From the bustling streets of New York City to the serene beauty of the Grand Canyon, there's something for every traveler to discover in this land of opportunity.</p>
      </div>
    </div> 
    {% comment %} <div class="item" style="background-image: url(https://www.yudiz.com/codepen/expandable-animated-card-slider/far-cry-5.jpg);">
      <div class="item-desc">
        <h3>Far Cry 5</h3>
        <p>Far Cry 5 is a 2018 first-person shooter game developed by Ubisoft.
          which was a community-created mod for Blizzard Entertainment's Warcraft III.</p>
      </div>
    </div> {% endcomment %}
  </div>
  </div>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css'>
<link rel="stylesheet" type="text/css" href="{% static 'packages/style.css' %}">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js'></script><script  src="{% static 'packages/script.js' %}"></script>

<!-- partial -->

