{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- partial:index.partial.html -->
<div class="m-auto p-5">
  {% for package in packages  %}
    <div class="card mb-3 w-100" >
      <div class="row no-gutters w-100">
        <div class="col-md-4 w-100">
          <img  style="transform: rotate(180deg);" src="{{package.image}}" class="card-img h-100 package-image" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{package.name}}</h5>
            <p class="card-text">{{package.description}}</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{package.price}}</li>
              <li class="list-group-item">{{package.duration}}</li>
              <li class="list-group-item">
            {% for destination in package.destinations.all %}
                {{ destination.name }}
                {% if not forloop.last %},{% endif %}
            {% endfor %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% endfor %}
  <script>
    function increaseBorder(card) {
      // Save the previous border thickness
      card.dataset.prevBorderWidth = card.style.borderWidth;

      // Increase border thickness by 3
      card.style.borderWidth = (parseInt(card.style.borderWidth) + 3) + "px";
  }

  function revertBorder(card) {
      // Revert border thickness to the original
      card.style.borderWidth = card.dataset.prevBorderWidth;
  }

  function toggleSelection(card, packageName, selectedCountry) {
      // Toggle the 'selected' class
      card.classList.toggle('selected');

      // Log package name and selected country
      console.log("Selected Package: " + packageName);
      console.log("Selected Country: " + selectedCountry);
  }

  
</script>

</div>
<form id="packagesForm" method="POST" action="{% url 'destinations' %}">
  {% csrf_token %}
<div class='w-full py-5'>
  <div class='d-flex flex-row justify-content-evenly w-full pb-5'>

{% comment %} <select class="form-select w-25" aria-label="Default select example">
  {% for package in packages %}
  <option value="{{package.name}}" {% if forloop.first %} selected {% endif %}>{{package.name}}</option>
  {% endfor %}  
</select> {% endcomment %}
<div class='w-25'>
  <label>Package</label>
  <br>
  {% for package in packages  %}
  <div class="form-check">
    <input id='package-select' class="form-check-input" type="radio" name="flexRadioDefault" value='{{package.name}}'>
    <label class="form-check-label" for="flexRadioDefault1">
      {{package.name}}
    </label>
  </div>
  {% endfor %}

  
</div>

<div class='w-25'>
  <label for="customRange1" id='rangeValueLabel'  class="form-label">Number of travellers: 2</label>
<input type="range" class="form-range" name='customRange1' min="1" max="5" step="1" id="customRange1" value="2">
</div>
</div>
  <center class="pb-5">
    <div class="form-check d-flex flex-row justify-content-center py-3">
      <input class="form-check-input mx-2" type="checkbox" value="" id="flexCheckDefault" >
      <label class="form-check-label" for="flexCheckDefault">
        Agree to receive updates in packages.
      </label>
    </div>
<button type="submit" class="btn btn-primary">Select Destination</a>

</center>
<script>
  // Get the range input element
  const rangeInput = document.getElementById("customRange1");
  // Get the label element to display the range value
  const rangeValueLabel = document.getElementById("rangeValueLabel");

  // Add event listener to the range input
  rangeInput.addEventListener("input", function() {
    // Update the label text with the current value of the range
    if(this.value === '5'){
      rangeValueLabel.innerText = "Number of travellers: 4+" ;
    }
    else{
      rangeValueLabel.innerText = "Number of travellers: " + this.value;
    }
    
  });
</script>
</div>
</form>

<!-- partial -->


{% endblock %}